<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de clientes</title>
</head>
<body>
    <form action="addclientes" method="post">
        {% csrf_token %}
        <label for="">Nombre: </label>
        <input type="text" name="cliente_nombre" id="">
        <br><br>
        <label for="">Apellido Paterno:</label>
        <input type="text" name="cliente_ap" id="">
        <br><br>
        <label for="">Apellido Materno:</label>
        <input type="text" name="cliente_am" id="">
        <br><br>
        <label for="">Fecha alta: </label>
        <input type="date" name="cliente_alta" id="">
        <br><br>
        <label for="">Fecha actualizacion: </label>
        <input type="date" name="cliente_actua" id="">
        <br><br>
        <label for="">Num cliente: </label>
        <input type="number" name="cliente_num" id="">
        <br><br>
        <button>Guardar cliente</button>
    </form>

</body>
</html>