<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de clientes</title>
</head>
<body>
    
    {% for cliente in clientes %}
    <tr>
        <td>{{ cliente.nombres }}</td>
        <td>{{ cliente.apellido_paterno }}</td>
        <td>{{ cliente.apellido_materno }}</td>
        <td>{{ cliente.fecha_alta }}</td>
        <td>{{ cliente.fecha_actualizacion }}</td>
        <td>{{ cliente.num_cliente }}</td>
        <br>
    </tr>
    {% endfor %}
</body>
</html>
