<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de clientes</title>
</head>
<body>
    <form action="addclientes" method="post">
        {% csrf_token %}
        {% for campo in formulario %}
            <label for="">{{ campo.label }}</label>
            <br>
            <input type="{{ campo.field.widget.input_type }}"
                placeholder="{{ campo.label }}"
                name="{{ campo.name }}"
            >
            <br>
            <p>{{campo.errors}}</p>
        {% endfor %}

        <input type="submit" value="Guardar cliente">
    </form>



</body>
</html>